*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}
body{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100vh;
    position: relative;
}
.container{
    margin: 0 auto;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    padding: 15px;
    /* space the buttons equally */
    gap:20px
 

}
.btn{
    width: 80px;
    height: 40px;
    border: none;
    background-color:rgb(56, 80, 56) ;  
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    /* to fit the buttons to match columns nand mobile view also */
    flex: 1  0 calc(30% - 10px);                
    /* display: flex; */
    


}
.btn:hover{
    background-color: aquamarine;
    cursor: pointer ;
    color: black;
}
.button{
    /* width: 100%; */
     /* box-sizing: border-box; */
    /* background-color: red; */
    display: flex;
    /* wrap it if it extends */
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 65%; not useful or undecided */
    justify-content: space-between;
    gap: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
   
}
.box1, .box2{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    /* align-items: center; */
}

.box2{
    background-color: rgb(56, 80, 56);
    position: relative;
    padding: 20px;

    
  
}
input .inputBox, .inputBox_person {
    font-size: 20px;
    padding: 5px;
    /* overflow: hidden; */
}
input #inputPer{
    padding: 0;
}
.inputBox{
    width: 100%;
    height: 30px;
    border: 2px solid  rgb(49, 250, 183); 
    background-color: rgb(188, 247, 227);
    border-radius: 5px;
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position:  5px 5px;
    text-align: right;
}
.inputBox_person{
    border-radius: 5px;
    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-position:  5px 7px;
    text-align: right
    /* border:none */

}
.inputBox_person::placeholder{
   float: right;
}

.inputBox::placeholder{
    float: right;
    font-size: 20px;
    color: rgb(56, 80, 56);
    margin-top: 5px;

}
#inputPer::placeholder{
    float: right;
    margin-top: 10px;
    margin-right: 5px;

}
.tip, .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
}

#inputPer{
    width: 80px;
    height: 40px;
    border: none;
    background-color:white; 
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid  rgb(49, 250, 183); 
    /* also for the custom place */
    flex: 1  0 calc(30% - 10px);
    

     
}
.reset{
    width: 90%;
    height: 40px;
    border: none;
    background-color:rgb(49, 250, 183); ;;  
    border-radius: 5px;
    color: black ;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}
.bill{
    margin-bottom: 15px;
}
.target, .target_two{
    font-size: 13px;
    margin-bottom: 7px;
    letter-spacing:2px;
}
.target_two{
    color: black;
    display: none;
    color: red;

}
.target_error{
    color: red;

}

.error_section{
    justify-content: space-between;
    width: 100%;
    display: flex;
}
.all{
    margin-bottom: 100px;
}
.header{
    position: absolute;
    top: 10%;
}
.attribution{
    position: absolute;
    bottom: 0;
    font-size: 15px; text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }
input .inputBox_person:focus{
    outline: none;

}
  /* trying to set up iphone SE but its not responsive */
/* @media screen and (max-width: 300px) {
    ;

} */
 @media screen and (max-width: 800px) {
    .attribution{
        position: absolute;
        bottom: 0;
        /* display: none; */
        /* display: flex; */
        /* flex-wrap: wrap; */
        text-align: center;

}
    body{
        position: relative;
        display: flex;
        margin: none;
        height: 100vh;
        /* margin: 0 auto; */
    }
    .container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        border-radius: 20px;
       
    }
    .header{
        position: absolute;
        top: 0;
        font-size: 25px;
    }
    body{
        display: flex;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        height: 100vh;
    }
    .box1{
        /* width: 100%; */
        display: flex;
        flex: 1;
        /* background-color: red; */
        padding: 10px;


    }
    .inputBox, .inputBox_person{
        cursor: pointer;
        width: 100%;
    }
    .button{
        width: 100%;
        column-gap: 37px;
    }
    .btn{
        width: 110px;
        height: 40px;
    }
    #inputPer{
        width: 105px;
        height: 40px;
    }
    .box1, .box2{
        padding: 20px;

    }
    .target, .target_two{
        display: flex;
        font-size: 10px;
        margin-bottom: 7px;
        /* letter-spacing:1px; */
    }
  
  }